<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Set Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-radio-group [(ngModel)] = "status">
      <ion-item>
        <ion-label>Happy</ion-label>
        <ion-radio slot="end" value="Happy"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Sad</ion-label>
        <ion-radio slot="end" value="Sad"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Lazy</ion-label>
        <ion-radio slot="end" value="Lazy"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Energetic</ion-label>
        <ion-radio slot="end" value="Energetic"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-button (click)="saveStatus()">SAVE</ion-button>

</ion-content>
